.btn-rounded, .btn-fab {
    border-radius: 100px !important;
}

.btn-fab {
    padding: 10px !important;
}

@mixin buttonStyles($color: $tintColor, $text: #fff) {
    background-color: $color;
    border: 1px solid darken($color, 5%);
    outline-color: $color;
    color: $text;

    &:hover {
        background-color: darken($color, 5%);
    }

    &.btn-outlined {
        @if $color != transparent {
            background-color: $text;
            color: $color;
            border: 1px solid $color;
            outline-color: $color;

            &:hover {
                color: $text;
                background-color: $color;
            }
        } @else {
            border: 1px solid lighten($text, 80%);
            outline-color: lighten($text, 80%);

            &:hover {
                color: white;
                background-color: $text;
            }
        }
    }
}

.btn-primary {
    @include buttonStyles();
}

.btn-lg {
    padding: 15px 40px !important;
}

.c-btn {
    // remove padding to remove default button padding
    padding: 5px 10px;
    border-radius: 5px;

    &.-color-red, &.btn-danger {
        @include buttonStyles(rgb(224, 22, 8));
    }

    &.-color-transparent {
        @include buttonStyles(transparent, black);
    }

    &.-color-blue {
        @include buttonStyles(rgb(0, 89, 255));
    }

    &.-color-gold {
        @include buttonStyles(rgb(221, 171, 7));
    }

    &.-color-purple {
        @include buttonStyles(rgb(125, 6, 204));
    }

    &.-color-green {
        @include buttonStyles($tintColor);
    }

    &:active, &:focus {
        outline: none;
    }
}
