.list-card {
    border-radius: 6px;
    background: $bgSecondary;
    color: $colorSecondary;
    border: 1px solid $bgSecondary;
    text-decoration: none;

    &:hover {
        border: 1px solid $green;
    }
}

.data-card {
    @extend .list-card;
    border: 1px solid $colorTetiary;
}