.main-layout {
    background-color: $bgPrimary;
    min-height: 100vh;

    header {
        background-color: $bgSecondary;
        color: $colorPrimary;
    }

    .page-stats {
        .view-reports {
            bottom: -30px;
        }
    }
}