.homepage {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden !important;

    * {
        transition: all .3s ease;
    }

    .topnav {
        position: absolute;
        width: 100%;
        background-color: transparent !important;
        padding: 40px $layout-padding-x;
        max-width: $page-max-width;

        &__brand__bold {
            font-weight: bold;
        }

        @include md-down {
            .navbar-toggler {
                display: none !important;
            }
        }
    }

    .hero {
        width: 100%;
        height: 100vh;
        // background-image: url(./../../images/home/mainbg.png) !important;
        // background-image: url(./../../images/home/hero-color.svg);
        // background-size: auto;
        // background-repeat: no-repeat;
        // overflow: hidden;

        > .wrapper {
            max-width: $page-max-width;
            padding: $layout-padding-y 0 $layout-padding-y $layout-padding-x;
            width: 100%;
            height: 100%;
        }
        
        &__content {
            margin-top: 45px;
            width: 100%;

            > h1 {
                font-size: 70px;
                z-index: 10 !important;
                line-height: 80px;
                font-family: $font-primary;

                @include sm-down {
                    font-size: 40px;
                    line-height: 45px;
                    margin-bottom: 10px !important;
                }
            }
        }

        &__body {
            position: relative;
            font-size: 18px;
            max-width: 500px;

            @include sm-down {
                width: 90%;
            }
        }

        &__buttons {
            margin-top: 65px !important;
            max-width: 300px;

            *:first-child {
                @include sm-down {
                    padding: 15px 30px !important;
                    font-size: 12px;
                }
            }

            *:last-child {
                margin-left: 30px;

                @include sm-down {
                    margin-left: 20px !important;
                    font-size: 14px;
                }
            }
        }

        &__illus {
            width: 75%;
            padding: 10px;
            margin-left: 10px;
            margin-bottom: -100px;

            @include md-down {
                display: none !important;
            }

            // @include md {
            //     height: 450px;
            // }

            @include lg {
                height: 500px;

                img {
                    margin-right: -50px !important;
                }
            }

            @include xl-up {
                height: 565px;
            }
            
            .freedom {
                height: 100%;
                margin-right: -20px;
            }

        }

        .colors {
            position: absolute;
            right: -30%;
            top: 5%;
            height: 700px;
            z-index: -20;
            overflow: hidden !important;

            @include sm-down {
                display: none;
            }
        }

        &__icon {
            position: absolute;
            top: -300px;
            left: -120px;
            color: #97999b;
            opacity: .05;

            @include sm-down {
                top: -250px;
                line-height: 45px;
            }
        }
    }

    .section__divider {
        border-top: 1px solid black;
        width: 180px;
        margin-bottom: 40px;
    }

    .home__content {
        .action__text {
            text-align: center;
            font-size: 30px;
            font-weight: 300;
            line-height: 38px !important;
            padding: 0px $layout-padding-x;
            width: 70%;

            @include sm-down {
                font-size: 16px;
                line-height: 30px;
                width: 100%;
            }
        }
        
        .how-it-works {
            text-align: center;
            margin-top: 100px;

            &__title {
                font-size: 28px;

                @include sm-down {
                    font-size: 20px;
                }
            }

            .step__info__container {
                margin-top: 60px;

                .step__info {
                    font-size: 18px;

                    &:not(:last-child) {
                        margin-bottom: 50px;
                    }

                    &__number {
                        width: 50px;
                        height: 50px;
                        border-radius: 100px;
                        background-color: #000;
                        color: #f8f9fc;
                    }

                    &__title {
                        // width: 200px;

                        @include sm-down {
                            width: 90%;
                            font-size: 14px;
                            line-height: 30px;
                        }
                    }

                    &__body {
                        max-width: 33%;

                        @include sm-down {
                            max-width: 80%;
                            font-size: 14px;
                        }
                    }
                }
            }
        }

        .its-fast {
            margin-top: 40px;
            text-align: center;
            padding: 40px calc(5% + 80px);
            max-width: $page-max-width;

            @include sm-down {
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-bottom: 50px;
                margin-top: 0px;
            }

            &__title {
                margin-bottom: 20px;
                font-size: 24px;
            }

            &__subtitle {
                @include sm-down {
                    font-size: 14px;
                }
            }

            &__content {
                width: 100%;
                justify-content: space-between !important;
                margin-top: 50px;

                > img {
                    width: 45%;
                }
            }

            &__info {
                text-align: left;
                align-self: center;
                width: 45%;
                
                @include sm-down {
                    width: 100%;
                    padding: 0px 20px;
                }

                h3 {
                    font-size: 40px;
                    margin-bottom: 40px;
                    font-family: $font-primary;

                    @include sm-down {
                        font-size: 30px;
                    }
                }

                p {
                    font-size: 18px;
                }
            }
        }

        .faq__section {
            text-align: center;
            margin-top: -40px;

            @include sm-down {
                margin-top: 10px;
            }

            h3 {
                font-weight: 600;
            }

            &__title {
                margin-bottom: 60px;
                font-size: 28px;
                font-weight: 700;

                @include sm-down {
                    font-size: 20px;
                    margin-bottom: 30px;
                }
            }

            .faqs {
                .faq {
                    &:not(:last-child) {
                        margin-bottom: 80px;

                        @include sm-down {
                            margin-bottom: 40px;
                        }
                    }

                    h3 {
                        font-size: 20px;

                        @include sm-down {
                            font-size: 14px;
                        }
                    }

                    &__answer {
                        max-width: 35%;
                        font-size: 18px;

                        @include sm-down {
                            max-width: 80%;
                            font-size: 12px;
                            margin-top: 5px !important;
                        }

                        a {
                            text-decoration: underline;
                            color: inherit;
                        }
                    }
                }
            }
        }

        .stray__text {
            font-size: 20px;
            font-weight: 600;

            @include sm-down {
                font-size: 16px;
            }
        }

        footer {
            text-align: center;
            margin-top: 120px;
            margin-bottom: 30px;

            @include sm-down {
                margin-top: 60px;
            }

            b {
                font-size: 20px;
                font-weight: bolder;

                @include sm-down {
                    font-size: 14px;
                }
            }
            
            p {
                font-size: 18px;

                @include sm-down {
                    font-size: 14px;
                    width: 90%;
                    align-self: center;
                }
            }

            small {
                color: #6c757d;
                font-size: 16px;
                
                @include sm-down {
                    font-size: 12px;
                    width: 80%;
                    align-self: center;
                    line-height: 25px;
                }
            }

            .footer__logo {
                align-self: center;
                margin-top: 30px;
                width: 100px;
            }
        }
    }
}