.order-page {
    height: 100vh;
    padding-top: 70px;

    &__wrapper {
        width: 100%;
        align-items: flex-start;
        justify-content: center;

        .order-page__content {
            width: 100%;
            max-width: 450px;
            background: rgb(238, 238, 238);
            padding: 35px 20px;
            box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.06);
            border-radius: 8px;
            margin-right: 20px;
            z-index: 100;

            @include sm-up {
                min-width: 450px;
            }

            .order__row {
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.03em;

                &:not(:first-child) {
                    padding-top: 20px;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #E5E5E6;
                    padding-bottom: 20px;
                }

                &__key {
                    color: #787879;
                }

                &__value {
                    font-weight: 600;
                    text-align: right;
                    color: #42454E;
                }
            }
        }

        .bg__img {
            width: 300px;
            right: 260px;
            bottom: 50px;
            z-index: -20;
        }
    }
}

.orders-page {
    .tab__selectors {
        .tab__selector {
            &.-active {
                border-bottom: 2px solid black;
            }
        }
    }
}
